body
{
    margin: 0;
}

#wordBox
{
    padding: 5%;
    margin: auto;
    margin-top: 5%;
    border-style: solid;
    border-width: 5px;
    width: 80%;
    overflow: auto;
}

#trainerBox
{
    width: 80%;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 120px;
}

#sidebar
{
    width: 120px;
    height: 100vh;
    position: absolute;
    left: 0;
    background-color: #93a3f5;
    text-align: center;
}

.nav
{
    color: black;
    border-radius: 20px;
    margin: 10%;
    padding: 5%;
    margin-top: 50%;
    width: 60%;
}

.nav:hover
{
    background-color: #717ebd;
    cursor: pointer;
}

.status
{
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
}

#ave
{
    background-color: #db6565;
}

#progress
{
    background-color: #717ebd;
}

#leftBox
{
    position: relative;
    float: left;
    height: 30%;
    left: 20%;
}

#rightBox
{
    position: relative;
    display: inline;
}

.icon
{
    height: 40px;
    margin-bottom: -10px;
}